/* download font */
/* reset */

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: cursive;
}

/* loader */

.loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-size: 5rem;
   font-variant: small-caps;
   background: rgb(0, 0, 0);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99999;
}

.loader-text {
   background: linear-gradient(
      45deg,
      #ff0000,
      #ff00bf,
      #8000ff,
      #0040ff,
      #00ffff,
      #00ff40,
      #80ff00,
      #ffbf00,
      #ff0000,
      #90d7e9
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   animation: colorAnimation 2s linear infinite;
   background-size: 300%;
   background-position: 0% 0%;
   opacity: 0;
}

@keyframes colorAnimation {
   25% {
      background-position: 25% 25%;
   }
   50% {
      background-position: 50% 50%;
      opacity: 1;
   }
   75% {
      background-position: 75% 75%;
   }
   100% {
      opacity: 0;
   }
}

/* drop down menu */

ul {
   background: darkcyan;
   color: #fff;
   display: flex;
   padding-left: 0px;
   list-style: none;
   position: relative;
}

ul li {
   padding: 10.5px 20px;
   cursor: pointer;
   position: relative;
}

ul li:hover {
   background: rgb(4, 70, 78);
}

ul li ul {
   display: none;
   position: absolute;
   left: 0;
   top: 40px;
   min-width: 200px;
   background: rgb(11, 103, 126);
}

ul li:hover > ul {
   display: block;
}

ul li ul li ul {
   top: 0px;
   left: 200px;
}

/* content */

main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: calc(100vh - 144px);
   flex-direction: column;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://wallpaper.dog/large/10712754.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #fff;
   font-size: 2rem;
   padding: 50px 10%;
}

/* modal style */

.modal-container {
   position: fixed;
   background: rgba(0, 0, 0, 0.75);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* display: none; */
}

.modal {
   min-width: 50%;
   background: #fff;
   border-radius: 5px;
}

.modla-title {
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   border-bottom: 1px solid lightgray;
   font-size: 1.5rem;
   font-weight: bold;
   user-select: none;
}

.modal-body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 20px;
}

.modal-body p {
   margin-bottom: 20px;
}

.modal-body input {
   font-size: 1.2rem;
   padding: 10px;
   text-align: center;
   width: 80%;
   margin: auto;
   border: none;
   background: rgb(225, 237, 241);
   border-radius: 5px;
}

.modal-action {
   display: flex;
   justify-content: end;
   padding: 10px 20px;
   border-top: 1px solid lightgray;
   gap: 1rem;
}

.modal-action button {
   padding: 10px 20px;
   font-size: 15px;
   font-variant: small-caps;
   cursor: pointer;
}

.modal-close {
   height: 25px;
   width: 25px;
   border-radius: 50%;
   outline: none;
   border: none;
   cursor: pointer;
}

button.modal-close:hover {
   color: #fff;
   background: red;
}

button.modal-accept {
   background: #0099ff;
   color: #fff;
   border: none;
   border-radius: 5px;
}

button.modal-accept:hover {
   background: #00aeff;
}

button.modal-cancel {
   background: #8d3f3f;
   color: #fff;
   border: none;
   border-radius: 5px;
}

button.modal-cancel:hover {
   background: red;
}

.modal-body input:focus-visible {
   outline: none;
   background: antiquewhite;
}

.display-modal {
   padding: 10px 20px;
   margin-top: 30px;
   font-size: 20px;
   background: #259771;
   color: #ffffff;
   border-radius: 10px;
   border: none;
   border-bottom: 5px solid #fff;
   border-right: 3px solid #fff;
   cursor: pointer;
}

.show {
   display: flex;
}

.display-modal:hover {
   background: #14694d;
}

button.display-modal:active {
   transform: scale(0.9);
}
